<h1>Showing team details</h1>

<p><strong>Title:</strong><%= @team.name%></p>
<p><strong>Country:</strong><%= @team.country%></p>
<p><strong>Founded:</strong><%= @team.founded%></p>
<p><strong>Description:</strong><%= @team.description%></p>

<%= link_to 'Edit', edit_team_path(@team) %> 
<%= link_to 'Delete', team_path(@team), method: :delete, data: { confirm: "Are you sure? This cannot be undone!" } %> 
<%= link_to 'Return to teams list',teams_path %>