<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= player.age %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= player.position %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= player.team_id %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= player.role %>
  </p>

  <p>
    <strong>Is captain:</strong>
    <%= player.is_captain %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= player.is_active %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= player.description %>
  </p>

</div>
