<!DOCTYPE html>
<html>
  <head>
    <title>T20</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

   <body class="d-flex flex-column">
  <% flash.each do |name, msg| %>
    <%= name%><br/>
    <%=  msg %>
  <% end %>

  <%= render 'layouts/navigation' %>
  

    <%= yield %>
  </body>
</html>
